*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --bg-clr: hsl(232, 79%, 96%);
  --bg-card: hsl(0, 0%, 100%);
  --txt-clr: hsl(242, 32%, 33%);
  --txt-clr2: hsl(244, 13%, 59%);
}

h1,
h5,
p,
ul {
  margin: 0;
  cursor: default;
}

ul {
  list-style: none;
  padding: 0;
}

button {
  padding: 0;
  border: none;
  background: none;
}

body {
  font-family: Arial;
  min-height: 100svh;
  background-color: var(--bg-clr);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.faded {
  color: var(--txt-clr2)
}

.card {
  position: relative;
  color: var(--txt-clr);
  background-color: var(--bg-card);
  width: min(350px, 95%);
  border-radius: 2.5rem;
  padding: 2rem;
  box-shadow: 0 0 10px rgba(128, 128, 128, 0.25);
}

.card::before {
  content: "";
  position: absolute;
  background-color: var(--bg-clr);
  box-shadow: 5px 0 25px white;
  width: 100%;
  top: 20px;
  bottom: 20px;
  left: 20px;
  z-index: -1;
  border-radius: inherit;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  position: relative;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: .3rem;
  cursor: pointer;
}

.dot {
  position: relative;
  width: 6px;
  aspect-ratio: 1;
  background-color: var(--txt-clr2);
  border-radius: 50%;
  overflow: hidden;
}

.dot::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: linear-gradient(90deg, var(--txt-clr2), rgba(223, 223, 223, 0.849));
  transform: translateX(-105%);
  transition: transform 600ms 400ms;
  z-index: -1;
}

.menu:hover .dot::before {
  transform: translateX(105%);
}

.menu:hover .dot {
  animation: 400ms cubic-bezier(0.47, 0, 0.745, 0.715) forwards wave;
}

.menu:hover .dot:nth-child(2) {
  animation-delay: 130ms;
}

.menu:hover .dot:nth-child(3) {
  animation-delay: 260ms;
}

@keyframes wave {

  0%,
  100% {
    translate: 0
  }

  50% {
    translate: 0 4px;
  }
}

.shared {
  font-size: .75rem;
  font-weight: 500;
  text-indent: .05em;
}

.shared span {
  text-decoration: underline;
  text-underline-offset: 0.3em;
}

.todos {
  margin-block: 1.7rem;
}

ul>*+* {
  margin-top: 1rem;
}

ul li {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.checkbox-container {
  position: relative;
  display: grid;
  place-items: center;
}

ul input {
  appearance: none;
  margin: 0;
  border-radius: 50%;
  width: 1.8rem;
  aspect-ratio: 1;
  border: 1px solid var(--txt-clr);
  cursor: pointer;
}

.checkmark {
  position: absolute;
  inset: 1;
  aspect-ratio: 1;
  background-color: var(--txt-clr2);
  border-radius: 50%;
  pointer-events: none;
}

ul input:checked~.checkmark {
  inset: 6px;
}

ul input:disabled {
  border-color: var(--txt-clr2);
}

label {
  font-size: .95rem;
  font-weight: bold;
  cursor: pointer;
}

.completed-todos {
  color: var(--txt-clr2);
}

.completed-todos * {
  cursor: default;
}

.completed-todos .checkmark {
  background-color: lightblue;
}

.completed-todos ul {
  margin-block: 0.9rem;
}


.completed-todos h5 {
  font-size: .75rem;
  text-transform: uppercase;
}

.add-btn {
  color: white;
  margin-top: 3rem;
  float: inline-end;
  background-color: var(--txt-clr);
  padding: 0.8rem 1.8rem;
  border-radius: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
  transition: opacity 250ms,
    scale 250ms;
}

.add-btn:hover {
  opacity: .95;
}

.add-btn:active {
  scale: .95
}